body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#dialog-form {
			display:none;
		}

label, input { 
	display:block;
}
label {
	margin-top: 15px;
}

.delete_child {
	color: RED;
	cursor: pointer;
}
.delete_child:hover {
	font-weight: bold;
}
.parent_node > li:hover {
	font-weight: bold;
	cursor: pointer;
}